html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: 'Tenor Sans', sans-serif;
    letter-spacing: 4px;
}

a{
    color: inherit;
    text-decoration: none;
}

.ff-archivo {
    font-family: 'Archivo Black', sans-serif;
}

.ff-tenor {
    font-family: 'Tenor Sans', sans-serif;
}

.white-space{
    display: block;
    width: 100%;
}

.space-sm{
    padding: 15px 0;
}

.space-mini{
    padding: 8px 0;
}

.space-xsm{
    padding: 5px 0;
}

.space-md{
    padding: 30px 0;
}
.space-lg{
    padding: 45px 0;
}

.full-page {
    min-height: 100vh;
    min-width: 100vw;
}

.text-deco-underline {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}

.text-color-white {
    color: white;
}

.text-color-black {
    color: black;
}

.text-color-grey-67 {
    color: #434343;
}

.text-color-grey-189 {
    color: #BDBDBD !important;
}

.text-color-grey-158 {
    color: #9e9e9e !important;
}

.text-color-primary {
    color: #F1A744 !important;
}

.bg-color-red {
    background-color: red;
}

.bg-color-blue {
    background-color: blue;
}

.bg-color-grey-67 {
    background-color: #434343;
}

.bg-color-primary {
    background-color: #F1A744 !important;
}


.margin-t-xsm {
    margin-top: 4px;
}

.margin-l-sm {
    margin-left: 4px;
}

.margin-l-md {
    margin-left: 16px;
}

.margin-b-sm {
    margin-bottom: 8px;
}

.margin-t-10x {
    margin-top: 10rem;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.flex-d-c {
    flex-direction: column;
}

.flex-d-r {
    flex-direction: row;
}

.text-s-5x {
    font-size: 5rem;
}

.text-s-4x {
    font-size: 4rem;
}

.text-s-10x {
    font-size: 10rem;
}

.text-ls-1x {
    letter-spacing: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.col-ver-align {
    align-items: center;
}

.d-inline-flex {
    display: inline-flex !important;
}

.container {
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
}

.list-style-reset {
    list-style: none;
    padding: inherit;
    padding: 0;
}

.list-style-inline li{
    display: inline-block;
}

.flex-row .col-3-md {
    width: 33%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.seperator:after {
    content: "/";
}

/*.gradient-jan{
    !* Rectangle Copy: *!
}*/

.action-btn {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    cursor: pointer;
}

.month .action-btn {
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.3s all;
}

.month.in-view-effect .action-btn {
    opacity: 0.7;
    transform: translateY(0);
    transition:all 2s ease-in-out;
}

.month.in-view-effect .action-btn:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.50);
    opacity: 1;
    transition: 0.3s all;
}

.icon-md {
    height: 25px;
    width: 25px;
}

.month {
    position: relative;
    /*transition: all 4s;*/
}

.month .month__title {
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}

.month.in-view-effect .month__title {
    opacity: 1;
    transform: translateY(0);
}

.month .month__img {
    height: 400px;
    width: auto;
    box-shadow: 0 15px 30px 6px rgba(0, 0, 0, 0.50);
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.3s;
}

.month.in-view-effect .month__img {
    opacity: 1;
    transform: translateY(0);
}

.page1 h1 {
    text-transform: capitalize;
    letter-spacing: 10px;
    color: black;
    transform: translateX(-500px);
    transition: all 2s;
    opacity: 0;
}

.page1.effect {
    background-color: orange;
}

.page1.effect h1 {
    transform: translateX(0);
    opacity: 1;
}

.intro {
    background-image: linear-gradient(-180deg, rgba(241, 167, 68, 0.85) 0%, rgba(67, 67, 67, 0.85) 100%), url("../img/intro_bg.jpg");
    background-color: bisque;
    color: brown;
    transition: background-color 1s;
}

.intro.effect {
    background-color: #ffa181;
}

.translate-100 {
    /*transition: transform 2s;*/
    transform: translateY(1000px);
}

.text-2017 {
    font-size: 15rem;
}

.text-calender {
    /*font-size: 10rem;*/
}

.month.jan {
    background-image: linear-gradient(0deg, #69001a 0%, #E0C4C7 49%, #EBF1ED 65%, #FFFFFF 100%);
}

.month.jan .month__title {
    color: #b9b9b9;
}

.month.feb {
    background-image: linear-gradient(-180deg, #AD7F84 0%, #5E4C96 100%);
}

.month.feb .month__title {
    color: rgba(15, 6, 53, 0.51);
}

.month.mar {
    background-image: linear-gradient(-180deg, #af232b 0%, #EEAC3B 55%, #7E963F 100%);
}

.month.mar .month__title {
    color: rgba(175, 35, 43, 0.8);
}

.month.apr {
    background-image: linear-gradient(0deg, #006385 0%, #C095A9 48%, #E4D0C3 100%);
}

.month.apr .month__title {
    color: rgba(193, 123, 149, 0.71);
}

.month.may {
    background-image: linear-gradient(0deg, #008589 0%, #BBBBBB 48%, #ECECEC 100%);
}

.month.may .month__title {
    color: rgba(174, 174, 174, 0.8);
}

.month.jun {
    background-image: linear-gradient(0deg, #002F3B 0%, #00AEB0 100%);
}

.month.jun .month__title {
    color: rgba(0, 93, 100, 0.75);
}

.month.jul {
    background-image: linear-gradient(0deg, #017073 8%, #BF7239 52%, #FFBC69 100%);
}

.month.jul .month__title {
    color: rgba(180, 100, 30, 0.8);
}

.month.aug {
    background-image: linear-gradient(0deg, #394A55 10%, #AE753D 51%, #FFD293 100%);
}

.month.aug .month__title {
    color: rgba(153, 109, 65, 0.8);
}

.month.sep {
    background-image: linear-gradient(0deg, #0E3551 10%, #C76236 54%, #FBC275 100%);
}

.month.sep .month__title {
    color: rgba(168, 90, 59, 0.86);
}

.month.oct {
    background-image: linear-gradient(0deg, #DB3301 0%, #A0AF53 49%, #AFECE6 100%);
}

.month.oct .month__title {
    color: rgba(143, 166, 99, 0.75);
}

.month.nov {
    background-image: linear-gradient(0deg, rgb(58, 36, 0) 0%, rgb(222, 151, 58) 56%, rgb(253, 227, 130) 100%);
}

.month.nov .month__title {
    color: rgba(173, 109, 19, 0.81);
}

.month.dec {
    background-image: linear-gradient(0deg, #24658A 0%, #D2BDBD 36%, #F3EDEA 100%);
}

.month.dec .month__title {
    color: rgba(192, 153, 154, 0.76);
}

.footer-main {
    position: relative;
    line-height: 1.6;
}

.column-title {
    text-transform: uppercase;
}

.link-group li:after{
    content: '/';
    color: #F1A744;
}

.link-group li > a, .share-group li > a, .credits-group li > a{
    transition: 0.5s all;
}

.link-group li > a:hover, .share-group li > a:hover, .credits-group li > a:hover{
    color: #BDBDBD;
}

.nav-icon-wrapper {
    position: fixed;
    right: 30px;
    top:40px;
    z-index: 3;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.nav-icon-wrapper .nav-icon {
    display: block;
    height: 2px;
    width: 50px;
    background-color: rgb(67, 67, 67);
    transition: all 0.5s;
    transform: translateY(25px);
    position: absolute;
    left: 18px;
}

.nav-icon-wrapper .nav-icon:before, .nav-icon-wrapper .nav-icon:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: rgb(67, 67, 67);
}

.nav-icon-wrapper .nav-icon:before {
    width: 65px;
    top: -10px;
    transition: all 0.5s;
}

.nav-icon-wrapper .nav-icon:after {
    top: 10px;
    width: 35px;
    transition: all 0.5s;
}

.nav-icon-wrapper:hover .nav-icon:before {
    width: 50px;
}

.nav-icon-wrapper:hover .nav-icon:after {
    width: 50px;
}

.nav-icon-wrapper.nav-clicked .nav-icon {
    background-color: transparent;
}

.nav-icon-wrapper.nav-clicked .nav-icon:before {
    width: 50px;
    background-color: #F1A744;
    transform: translateY(10px)rotate(45deg);
    transform-origin: center;
}

.nav-icon-wrapper.nav-clicked .nav-icon:after {
    width: 50px;
    background-color: #F1A744;
    transform: translateY(-10px)rotate(-45deg);
    transform-origin: center;
}

.sidebar-item {
    position: fixed;
    z-index: 2;
    right: 0;
    font-size: 2rem;
    line-height: 2;
    color: rgba(241, 167, 68, 0.76);
}

.sidebar-item ul {
    margin: 0;
    background-color: #434343;
    padding: 5rem;
    width: 280px;
}

.sidebar-item ul {
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-item ul li {
    opacity: 0;
    transition: opacity 0.01s, transform 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-50px);
}

.sidebar-item ul a:hover{
    transition: 0.3s all;
    color: rgb(241, 167, 68);
}

.sidebar-item {
    opacity: 0;
    transition: all 0.5s;
}

nav {
    position: fixed;
    z-index: 1;
}

nav.nav--show .sidebar-item {
    transition-delay: 0.5s;
    opacity: 1;
}

nav.nav--show .sidebar-item ul li {
    opacity: 1;
    transform: translateX(0);
}

.sidebar-reveal-effect {
    position: absolute;
    height: 100vh;
    width: 380px;
    transition: 0.5s all;
    /*left: 100%;*/
    transform: scaleX(0);
    left: calc(100vw - 380px);
    z-index: 3;
    background-image: linear-gradient(-180deg, rgba(241, 167, 68, 1) 0%, rgba(67, 67, 67, 1) 100%);
}

nav.nav--show .sidebar-reveal-effect{
    animation: reveal-left 1s ease-in-out 1;
}

@keyframes reveal-left {
    0%{
        transform: scaleX(0);
        transform-origin: left;
        /*transform-origin: 0 100% 0;*/
        /*background-color: white;*/
    }
    49%{
        /*transform-origin: 100% 50% 0;*/
        transform-origin: left;
        transform: scaleX(1);
        /*transform-origin: 0 100% 0;*/
        /*background-color: green;*/
    }
    50%{
        transform: scaleX(1);
        transform-origin: 100% 0 0;
    }
    100%{
        transform: scaleX(0);
        transform-origin: 100% 0 0;
    }
    /*100%{
        transform: scaleX(0);
        transform-origin: 100% 0 0;
    }*/
}
/*@keyframes sidebar-reveal {
    0%{
        transform: scaleX(1);
        transform-origin: 100% 0 0;
        !*background-color: white;*!
    }
    100%{
        !*transform-origin: 100% 50% 0;*!
        transform: scaleX(0);
        transform-origin: 100% 0 0;
        !*background-color: green;*!
    }
    !*100%{
        transform: scaleX(0);
        transform-origin: 100% 0 0;
    }*!
}*/

/*.footer-main .dwnld-btn .action-btn {
    display: inline-flex;
}*/

/* Rectangle: */